@font-face {
    font-family: 'grm-icon';
    src: url('grm-icon.eot?v2gw4s');
    src: url('grm-icon.eot?v2gw4s#iefix') format('embedded-opentype'), url('grm-icon.ttf?v2gw4s') format('truetype'), url('grm-icon.woff?v2gw4s') format('woff'), url('grm-icon.svg?v2gw4s#grm-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gi {
    top: 1px;
    display: inline-block;
    font: normal normal 14px/1 grm-icon;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gi.gi-fix {
    font-size: 16px !important;
}

.gi-tn {
    font-size: 14px;
}

.gi-tn.gi-fix {
    font-size: 14px !important;
}

.gi-sm {
    font-size: 14px;
}

.gi-sm.gi-fix {
    font-size: 14px !important;
}

.gi-medium {
    font-size: 18px;
}

.gi-lg {
    font-size: 28px;
}

.gi-lg.gi-fix {
    font-size: 28px !important;
}

.gi-3x {
    font-size: 42px;
}

.gi-3x.gi-fix {
    font-size: 42px !important;
}

.gi-4x {
    font-size: 56px;
}

.gi-4x.gi-fix {
    font-size: 56px !important;
}

.gi-extention:before {
    color: #9fa8da;
}

.gi-3gp:before {
    content: "\e904";
}

.gi-7z:before {
    content: "\e905";
}

.gi-accept:before {
    content: "\e906";
}

.gi-add_friends:before {
    content: "\e907";
}

.gi-admin:before {
    content: "\e908";
}

.gi-ai:before {
    content: "\e909";
}

.gi-apk:before {
    content: "\e90a";
}

.gi-app:before {
    content: "\e90b";
}

.gi-asf:before {
    content: "\e90c";
}

.gi-asp:before {
    content: "\e90d";
}

.gi-aspx:before {
    content: "\e90e";
}

.gi-asterisk:before {
    content: "\e90f";
}

.gi-avi:before {
    content: "\e910";
}

.gi-back:before {
    content: "\e911";
}

.gi-bak:before {
    content: "\e912";
}

.gi-bat:before {
    content: "\e913";
}

.gi-bell-off:before {
    content: "\e914";
}

.gi-bell:before {
    content: "\e915";
}

.gi-bin:before {
    content: "\e916";
}

.gi-bmp:before {
    content: "\e917";
}

.gi-bookmark:before {
    content: "\e918";
    color: #008bf4;
}

.gi-breakpoint:before {
    content: "\e919";
}

.gi-browser:before {
    content: "\e91a";
}

.gi-c:before {
    content: "\e91b";
}

.gi-cab:before {
    content: "\e91c";
}

.gi-canvas:before {
    content: "\e91d";
}

.jstree-open>.jstree-ocl:before,
#goorm_center_inner_layout>.ui-layout-resizer-open>.ui-layout-toggler-south:hover:before,
.ui-layout-resizer-closed>.ui-layout-toggler-north:hover:before,
.gi-caret-down:before {
    content: "\e91e";
}

.ui-layout-resizer-closed>.ui-layout-toggler-east:hover:before,
.ui-layout-resizer-open>.ui-layout-toggler-west:hover:before,
.gi-caret-left:before {
    content: "\e91f";
}

.jstree-closed>.jstree-ocl:before,
.ui-layout-resizer-open>.ui-layout-toggler-east:hover:before,
.ui-layout-resizer-closed>.ui-layout-toggler-west:hover:before,
.gi-caret-right:before {
    content: "\e920";
}

.jstree-loading .jstree-ocl.gi-spinner:before {
    content: "\e9b8";
}

#goorm_center_inner_layout>.ui-layout-resizer-closed>.ui-layout-toggler-south:hover:before,
.ui-layout-resizer-open>.ui-layout-toggler-north:hover:before,
.gi-caret-up:before {
    content: "\e921";
}

.gi-cer:before {
    content: "\e922";
}

.gi-cgi:before {
    content: "\e923";
}

.gi-chat:before {
    content: "\e924";
}

.gi-chrome:before {
    content: "\e925";
}

.gi-class:before {
    content: "\e926";
    color: #7fc681;
}

.gi-close:before {
    content: "\e927";
}

.gi-colorpicker:before {
    content: "\e928";
}

.gi-com:before {
    content: "\e929";
}

.gi-commit:before {
    content: "\e92a";
}

.gi-connected:before {
    content: "\e92b";
}

.gi-continue:before {
    content: "\e92c";
}

.gi-copy:before {
    content: "\e92d";
}

.gi-core:before {
    content: "\e92e";
}

.gi-cpp:before {
    content: "\e92f";
}

.gi-cs:before {
    content: "\e930";
}

.gi-css:before {
    content: "\e931";
}

.gi-csv:before {
    content: "\e932";
}

.gi-dat:before {
    content: "\e933";
}

.gi-db:before {
    content: "\e934";
}

.gi-deadface:before {
    content: "\e935";
}

.gi-debug:before {
    content: "\e936";
}

.gi-delete:before {
    content: "\e937";
}

.gi-deploy:before {
    content: "\e938";
}

.gi-device:before {
    content: "\e939";
}

.gi-disconnected:before {
    content: "\e93a";
}

.gi-dll:before {
    content: "\e93b";
}

.gi-doc:before {
    content: "\e93c";
}

.gi-docx:before {
    content: "\e93d";
}

.gi-download:before {
    content: "\e93e";
}

.gi-drawing:before {
    content: "\e93f";
}

.gi-drv:before {
    content: "\e940";
}

.gi-dtd:before {
    content: "\e941";
}

.gi-egg:before {
    content: "\e942";
}

.gi-ejs:before {
    content: "\e943";
}

.gi-elf:before {
    content: "\e944";
}

.gi-emoticon:before {
    content: "\e945";
}

.gi-eps:before {
    content: "\e946";
}

.gi-eraser:before {
    content: "\e947";
}

.gi-error:before {
    content: "\e948";
}

.gi-etc:before {
    content: "\e949";
    color: #888888;
}

.gi-exe:before {
    content: "\e94a";
}

.gi-eye_off:before {
    content: "\e94b";
}

.gi-eye:before {
    content: "\e94c";
}

.gi-facebook:before {
    content: "\e94d";
}

.gi-ff:before {
    content: "\e94e";
}

.gi-find:before {
    content: "\e94f";
}

.gi-fla:before {
    content: "\e950";
}

.gi-flv:before {
    content: "\e952";
}

.jstree .jstree-open>.jstree-anchor>.gi-folder:before,
.gi-folder-open:before {
    content: "\e953";
    color: #fbc02d;
}

.jstree .jstree-leaf:not([file_type])>.jstree-anchor>.gi-folder:before,
.jstree .jstree-closed>.jstree-anchor>.gi-folder:before,
.gi-folder:before {
    content: "\e951";
    color: #fbc02d;
}

.gi-fon:before {
    content: "\e954";
}

.gi-forward:before {
    content: "\e955";
}

.gi-function:before {
    content: "\e956";
    color: #ef9a9a;
}

.gi-gear:before {
    content: "\e957";
}

.gi-gears:before {
    content: "\e958";
}

.gi-gif:before {
    content: "\e959";
}

.gi-github:before {
    content: "\e95a";
}

.gi-global:before {
    content: "\e95b";
    color: #f47721;
}

.gi-go:before {
    content: "\e95c";
}

.gi-google:before {
    content: "\e95e";
}

.gi-goormduino:before {
    content: "\e95f";
}

.gi-group:before {
    content: "\e95d";
}

.gi-gz:before {
    content: "\e960";
}

.gi-gzip:before {
    content: "\e961";
}

.gi-h:before {
    content: "\e962";
}

.gi-html:before {
    content: "\e963";
}

.gi-ico:before {
    content: "\e964";
}

.gi-ie:before {
    content: "\e965";
}

.gi-ipynb:before {
    content: "\e9dd";
}

.gi-iso:before {
    content: "\e966";
}

.gi-jar:before {
    content: "\e967";
}

.gi-java:before {
    content: "\e968";
}

.gi-jpg:before,
.gi-jpeg:before {
    content: "\e969";
}

.gi-js:before {
    content: "\e96a";
}

.gi-json:before {
    content: "\e96b";
}

.gi-jsp:before {
    content: "\e96c";
}

.gi-jump:before {
    content: "\e96d";
}

.gi-key:before {
    content: "\e96e";
}

.gi-lnk:before {
    content: "\e96f";
}

.gi-log:before {
    content: "\e970";
}

.gi-lua:before {
    content: "\e971";
}

.gi-m4v:before {
    content: "\e972";
}

.gi-magnifier-minus:before {
    content: "\e973";
}

.gi-magnifier-plus:before {
    content: "\e974";
}

.gi-md:before {
    content: "\e975";
}

.gi-method:before {
    content: "\e976";
    color: #c1d82f;
}

.gi-mid:before {
    content: "\e977";
}

.gi-minus:before {
    content: "\e903";
}

.gi-more:before {
    content: "\e978";
}

.gi-mov:before {
    content: "\e979";
}

.gi-mp3:before {
    content: "\e97a";
}

.gi-mp4:before {
    content: "\e97b";
}

.gi-mpg:before {
    content: "\e97c";
}

.gi-new_file:before {
    content: "\e97d";
}

.gi-new_message:before {
    content: "\e97e";
}

.gi-new_project:before {
    content: "\e97f";
}

.gi-notice:before {
    content: "\e980";
}

.gi-obj:before {
    content: "\e981";
}

.gi-object:before {
    content: "\e902";
}

.gi-odf:before {
    content: "\e982";
}

.gi-odp:before {
    content: "\e983";
}

.gi-ods:before {
    content: "\e984";
}

.gi-odt:before {
    content: "\e985";
}

.gi-ogg:before {
    content: "\e986";
}

.gi-ok:before {
    content: "\e987";
}

.gi-open_file:before {
    content: "\e988";
}

.gi-open_project:before {
    content: "\e989";
}

.gi-opera:before {
    content: "\e98a";
}

.gi-otf:before {
    content: "\e98b";
}

.gi-package:before {
    content: "\e98c";
    color: #6a737b;
}

.gi-paper_plane:before {
    content: "\e98d";
}

.gi-pause:before {
    content: "\e98e";
}

.gi-pdf:before {
    content: "\e98f";
}

.gi-pencil:before {
    content: "\e990";
}

.gi-php:before {
    content: "\e991";
}

.gi-pkg:before {
    content: "\e992";
}

.gi-play:before {
    content: "\e993";
}

.gi-plug:before {
    content: "\e994";
}

.gi-plus:before {
    content: "\e995";
}

.gi-png:before {
    content: "\e996";
}

.gi-popup:before {
    content: "\e997";
}

.gi-portforwarding:before {
    content: "\e901";
}

.gi-power:before {
    content: "\e998";
}

.gi-ppt:before {
    content: "\e999";
}

.gi-pptx:before {
    content: "\e99a";
}

.gi-preference:before {
    content: "\e99b";
}

.gi-project_share:before {
    content: "\e99c";
}

.gi-property:before {
    content: "\e99d";
    color: #2e61c8;
}

.gi-ps:before {
    content: "\e99e";
}

.gi-psd:before {
    content: "\e99f";
}

.gi-pub:before {
    content: "\e9a0";
}

.gi-py:before {
    content: "\e9a1";
}

.gi-question:before {
    content: "\e9a2";
}

.gi-rar:before {
    content: "\e9a3";
}

.gi-raw:before {
    content: "\e9a4";
}

.gi-rb:before {
    content: "\e9a5";
}

.gi-readonly:before {
    content: "\e9a6";
}

.gi-reject:before {
    content: "\e9a7";
}

.gi-reload:before {
    content: "\e9a8";
}

.gi-reload2:before {
    content: "\e9a9";
}

.gi-reload3:before {
    content: "\e9aa";
}

.gi-rewind:before {
    content: "\e9ab";
}

.gi-rollback:before {
    content: "\e9ac";
}

.gi-root:before {
    content: "\e9ad";
}

.gi-rpm:before {
    content: "\e9ae";
}

.gi-rtf:before {
    content: "\e9af";
}

.gi-run:before {
    content: "\e9b0";
}

.gi-save_as:before {
    content: "\e9b1";
}

.gi-save:before {
    content: "\e9b2";
}

.gi-search:before {
    content: "\e9b3";
}

.gi-sh:before {
    content: "\e9b4";
}

.gi-share:before {
    content: "\e9b5";
}

.gi-sourcecode:before {
    content: "\e9b6";
}

.gi-spanner:before {
    content: "\e9b7";
}

.gi-spinner:before {
    content: "\e9b8";
}

.gi-sql:before {
    content: "\e9b9";
}

.gi-ssh:before {
    content: "\e900";
}

.gi-stack:before {
    content: "\e9ba";
}

.gi-step_in:before {
    content: "\e9bb";
}

.gi-step_out:before {
    content: "\e9bc";
}

.gi-stop:before {
    content: "\e9bd";
}

.gi-struct:before {
    content: "\e9be";
    color: #8a7967;
}

.gi-svg:before {
    content: "\e9bf";
}

.gi-sweep:before {
    content: "\e9c0";
}

.gi-swf:before {
    content: "\e9c1";
}

.gi-swift:before {
    content: "\e9c2";
}

.gi-sys:before {
    content: "\e9c3";
}

.gi-tar:before {
    content: "\e9c4";
}

.gi-terminal:before {
    content: "\e9c5";
}

.gi-tex:before {
    content: "\e9c6";
}

.gi-thickness:before {
    content: "\e9c7";
}

.gi-tiff:before {
    content: "\e9c8";
}

.gi-torrent:before {
    content: "\e9c9";
}

.gi-trash:before {
    content: "\e9ca";
}

.gi-ttf:before {
    content: "\e9cb";
}

.gi-txt:before {
    content: "\e9cc";
}

.gi-unplug:before {
    content: "\e9cd";
}

.gi-update:before {
    content: "\e9ce";
}

.gi-upload:before {
    content: "\e9cf";
}

.gi-variable:before {
    content: "\e9d0";
    color: #fcdf65;
}

.gi-vb:before {
    content: "\e9d1";
}

.gi-warning:before {
    content: "\e9d2";
}

.gi-wav:before {
    content: "\e9d3";
}

.gi-wma:before {
    content: "\e9d4";
}

.gi-wmv:before {
    content: "\e9d5";
}

.gi-write:before {
    content: "\e9d6";
}

.gi-xhtml:before {
    content: "\e9d7";
}

.gi-xls:before {
    content: "\e9d8";
}

.gi-xlsx:before {
    content: "\e9d9";
}

.gi-xml:before {
    content: "\e9da";
}

.gi-zip:before {
    content: "\e9db";
}

.gi-tgz:before {
    content: "\e9dc";
}

.gi-r:before {
    content: "\e9dd";
}

.gi-jsx:before {
    content: "\e9de";
}

.gi-vue:before {
    content: "\e9df";
}

.gi-sass:before {
    content: "\e9e0";
}

.gi-scss:before {
    content: "\e9e1";
}

.gi-less:before {
    content: "\e9e2";
}

.gi-hpp:before {
    content: "\e9e3";
}

.gi-hxx:before {
    content: "\e9e4";
}

.gi-memory:before {
    content: "\e9e5";
}

.gi-network:before {
    content: "\e9e6";
}

.gi-disk:before {
    content: "\e9e7";
}

.gi-common:before {
    content: "\e9e8";
}

.gi-test:before {
    content: "\e9e9";
}

.gi-gradle:before {
    content: "\e9ea";
}

.gi-groovy:before {
    content: "\e9eb";
}

.gi-war:before {
    content: "\e9ec";
}

.gi-folder_gradle:before {
    content: "\e9ed";
    color: #fbc02d;
}

.gi-folder_jdk:before {
    content: "\e9ee";
    color: #fbc02d;
}

.gi-folder_libs:before {
    content: "\e9ef";
    color: #fbc02d;
}

.gi-folder_maven:before {
    content: "\e9f0";
    color: #fbc02d;
}

.gi-icon_light_bulb .path1:before {
    content: "\e9f1";
    color: rgb(255, 214, 0);
}

.gi-icon_light_bulb .path2:before {
    content: "\e9f2";
    margin-left: -1em;
    color: rgb(189, 189, 189);
}

.gi-m:before {
    content: "\e9f3";
}

.gi-scala:before {
    content: "\e9f4";
}

.gi-kt:before {
    content: "\e9f5";
}

.gi-rs:before {
    content: "\e9f6";
}